UrbanNavigator/Connected Services/FBIService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetORI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="arizonaCity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetORIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetORIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FBICrimeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ori" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offense" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FBICrimeDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FBICrimeDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>