UrbanNavigator/Connected Services/FBIService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar64.fulton.asu.edu/Page4/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar64.fulton.asu.edu/Page4/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetORI_InputMessage">
    <wsdl:part name="parameters" element="tns:GetORI" />
  </wsdl:message>
  <wsdl:message name="IService1_GetORI_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetORIResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FBICrimeData_InputMessage">
    <wsdl:part name="parameters" element="tns:FBICrimeData" />
  </wsdl:message>
  <wsdl:message name="IService1_FBICrimeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:FBICrimeDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetORI">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetORI" message="tns:IService1_GetORI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetORIResponse" message="tns:IService1_GetORI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FBICrimeData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FBICrimeData" message="tns:IService1_FBICrimeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FBICrimeDataResponse" message="tns:IService1_FBICrimeData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetORI">
      <soap:operation soapAction="http://tempuri.org/IService1/GetORI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FBICrimeData">
      <soap:operation soapAction="http://tempuri.org/IService1/FBICrimeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar64.fulton.asu.edu/Page4/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>